**/data/*
!**/data/.gitkeep
node_modules/

backend/test_db.py

# while cleaning up the css files:
*.scss
*.backup

# large csv for performance testing
train.csv

venv/
paper/
sources/

# pycache
*.pyc
__pycache__/

# notes files
**/notes.md
**/CLAUDE.md
.claude
