**/data/*
!**/data/.gitkeep
node_modules/

backend/test_db.py
backend/debug_reordering.py

# while cleaning up the css files:
*.scss
*.backup

# large csv for performance testing
train.csv

venv/
.venv
paper/
sources/
stuff/

# pycache
*.pyc
__pycache__/

# notes files
**/notes.md
**/CLAUDE.md
.claude
